asn1crypto==0.24.0
bcrypt==3.1.4
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
coverage==4.5.2
cryptography==2.3
Django==1.11.23
docopt==0.6.2
enum34==1.1.6
filelock==3.0.10
idna==2.7
ipaddress==1.0.22
paramiko==2.4.1
pipreqs==0.4.9
pluggy==0.8.0
py==1.7.0
pyasn1==0.4.4
pycparser==2.18
pycrypto==2.6
PyMySQL==0.9.2
PyNaCl==1.2.1
pytz==2018.7
redis==3.0.1
requests==2.19.1
robotframework==3.0.4
robotframework-archivelibrary==0.4.0
robotframework-databaselibrary==1.0.1
robotframework-ftplibrary==1.6
robotframework-redislibrary==0.3
robotframework-requests==0.4.7
robotframework-ride==1.5.2.1
robotframework-selenium2library==3.0.0
robotframework-seleniumlibrary==3.1.1
robotframework-sshlibrary==3.1.0
selenium==3.14.0
six==1.11.0
somepackage==1.2.3
toml==0.10.0
tox==3.5.3
urllib3==1.23
virtualenv==16.0.0
yarg==0.1.9
